Flask[async]==3.1.2
flask-cors==5.0.1
gunicorn==23.0.0
# See: https://github.com/ScrappyCocco/HowLongToBeat-PythonAPI/issues/52
# Updated to 1.0.20 which includes fixes for HLTB API changes
howlongtobeatpy==1.0.20
google-search-results==2.4.2
python-dotenv==1.0.1